.prize{
    width: 205px;
    height: 250px;
    overflow: hidden;
    border: 1px solid #3b3a3a;
    background-color: #242323;
    color: aliceblue;
}

img {    
    height: 174px;
    object-fit: contain;
    width: 100%;
}

.prize__text{
    color: aliceblue;
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
}


