.prize{
    width: 205px;
    height: 250px;
    border: 1px solid #3b3a3a;
    background-color: #242323;
}

img {    
    height: 174px;
    object-fit: contain;
    width: 100%;
}

.prize__text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
    white-space: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    height: 70px;
}
