.horizontal {
    flex-direction: row;
    min-height: 265px;
    padding: 33px 0px 82px;
}

.vertical {
    flex-direction: column;
    width: 300px;
    min-height: 80vh;
}

.prizes-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    border-radius: 30px;
    background-color: #0f0f0f;
    position: relative;
    overflow: hidden;
}

.prizes-flex__prizes {
    display: flex;
    -webkit-display: flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    align-items: center;
    -webkit-align-items: center;
}

.prizes-flex__wrapper {
    display: flex;
    -webkit-display: flex;
    flex-wrap: nowrap;
    align-items: center;
    -webkit-align-items: center;
}

.vertical-line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 234px;
    background-color: rgb(255, 153, 0); 
    transform: translateX(-50%);
    z-index: 5;
}
.horizontal-line {
    position: absolute;
    top: 50%; 
    left: 0; 
    width: 300px; 
    height: 4px; 
    background-color: rgb(255, 153, 0); 
    transform: translateY(-50%); 
    z-index: 5;
}

@keyframes animate {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

@-webkit-keyframes animate {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes verticalanimate {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, -80vh, 0);
    }
}

@-webkit-keyframes verticalanimate {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, -80vh, 0);
    }
}

.prizes-flex__prizes > * {
    flex-shrink: 0;
}

.animate-0 {
    animation: animate 0s linear infinite;
  }

.animate-1 {
    animation: animate 1s linear infinite;
  }

.animate-5 {
    animation: animate 5s linear infinite;
  }

.animate-10 {
    animation: animate 10s linear infinite;
}

.animate-15 {
    animation: animate 15s linear infinite;
}
  
.animate-20 {
    animation: animate 20s linear infinite;
}


.prizes-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow: hidden;
    position: relative;
    width: 300px;
    align-items: center;
    justify-content: center;
    background-color: #0f0f0f;
}

.prize-list {
    display: flex;
    flex-direction: column;
    animation: scroll-up 10s linear infinite;
}

@keyframes scroll-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}