.prizes-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    border-radius: 30px;
    background-color: #0f0f0f;
    position: relative;
    overflow: hidden;
  }
  
  .prizes-flex__prizes {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    width: 100%;
  }
  
  .prizes-flex__wrapper {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    will-change: transform;
    align-items: center;
    min-height: 265px;
    padding: 33px 0px 82px;
    gap:5px;   
    backface-visibility: hidden;    
    scroll-behavior: auto; /* отключаем smooth */
  }
  
  .vertical-line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 234px;
    background-color: rgb(255, 153, 0); 
    transform: translateX(-50%);
    z-index: 5;
  }

  .prize-item {
    flex: 0 0 auto;
  }
  