@if(flexDirection==='horizontal'){
<div class="prizes-flex">
    <div class="vertical-line"></div>
    <div class="prizes-flex__prizes ">
        @for(servise of serviseArr; track servise.id){
        @if(prizes){
        <div class="prizes-flex__wrapper horizontal">
            @for(prize of prizes;track prize.id){
            <app-prize [prize]="prize"></app-prize>
            }
        </div>
        }
        }
    </div>
</div>
}
@else{
<div class="prizes-container">
    <div class="horizontal-line"></div>
    @for(servise of serviseArr; track servise.id){
    @if(prizes){
    <div class="prize-list vertical-animate">
        @for(prize of prizes; track prize.id){
        <app-prize [prize]="prize"></app-prize>
        }
    </div>
    }
    }
</div>
}