<div class="container">
    <div class="wrapper">
        @if(prizes){
        <app-prizes-flex [prizes]="prizeToShow ?? []" [animationSpeed]="animationSpeed"
            [duration]="duration"></app-prizes-flex>
        }
        <div class="roulette-actions ">
            <div class="gray-block">
                <div class="button-wrapper">
                    <button class="spin-button" type="button" (click)="spinButtonClick()">Spin</button>
                </div>
            </div>
        </div>
        <div class="settings">
            <ul class="settings-list">
                <li class="settings-list-item">
                    <p>Sound while spinning</p><input [(ngModel)]="soundWhileSpinning" type="checkbox">
                </li>
                <li class="settings-list-item">
                    <p>Speed multiplier</p>
                    <select [(ngModel)]="speedMultiplier">
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </li>
                <li class="settings-list-item">
                    <p>Spinning time</p>
                    <select [(ngModel)]="spinningTime">
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </li>
            </ul>
            <ul class="settings-list">
                <li *ngFor="let checkedPrize of checkedPrizes; let i = index; trackBy: trackById"
                    class="settings-list-item">
                    <p>{{ checkedPrize.prize.text }}</p>
                    <input type="checkbox" [id]="checkedPrize.prize.id" [(ngModel)]="checkedPrize.checked"
                        (click)="prizeCheckStateInput(checkedPrize, $event)">
                </li>
            </ul>
        </div>
        <app-prizes-code [prizes]="prizeToShow ?? []" class="width-100"></app-prizes-code>
    </div>
</div>