<div class="container">
    <div class="wrapper">
        @if(winnedPrize){
        <app-prize-modal [prize]="winnedPrize" (close)="closeModal()"></app-prize-modal>
        }
        <app-prizes-flex [prizes]="prizes" [flexDirection]="designType"></app-prizes-flex>
        <app-spin-button (click)="spinButtoClick()"></app-spin-button>
        <div class="settings">
            <ul class="settings-list">
                <li class="settings-list-item">
                    <p>Type</p><select [(ngModel)]="designType">
                        <option value="horizontal">horizontal</option>
                        <option value="vertical">vertical</option>
                    </select>
                </li>
                <li class="settings-list-item">
                    <p>Design</p><select data-param="design">
                        <option value="Regular">Regular</option>
                    </select>
                </li>
                <li class="settings-list-item">
                    <p>Prizes with text</p><input data-param="prizesWithText" type="checkbox">
                </li>
                <li class="settings-list-item">
                    <p>Without animation</p><input data-param="withoutAnimation" type="checkbox">
                </li>
                <li class="settings-list-item">
                    <p>Hide center delimiter</p><input data-param="hideCenterDelimiter" type="checkbox">
                </li>
                <li class="settings-list-item">
                    <p>Sound while spinning</p><input [(ngModel)]="soundWhileSpinning" type="checkbox">
                </li>
                <li class="settings-list-item">
                    <p>Stop in the prize item center</p><input data-param="stopInCenter" type="checkbox">
                </li>
                <li class="settings-list-item">
                    <p>Spinning time</p><select [(ngModel)]="spinningTime">
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                </li>
            </ul>
        </div>
        <app-prizes-code [prizes]="prizes" class="width-100"></app-prizes-code>
    </div>
</div>