.roulette-actions{
    position: relative;
    z-index: 3;
    text-align: center;
    min-height: 160px;
    margin: -48px 0px 5px;
    overflow: hidden;
}

.gray-block{
    max-width: 398px;
    min-height: 70px;
    box-sizing: border-box;
    background: linear-gradient(rgb(32, 32, 32) 65%, rgba(7, 7, 7, 0) 92%, rgba(0, 0, 0, 0) 99%);
    border-radius: 38px;
    padding: 18px 13px 5px;
    margin: 0px auto;
    background-image: url("../../../../public/assets/button-background.png");
}

.button-wrapper{
    display: flex;
    position: relative;
    z-index: 2;
    margin-top: 25px;
}

.spin-button{
    position: relative;
    z-index: 2;
    width: 350px;
    font-size: 21px;
    box-shadow: rgba(155, 106, 0, 0.7) 0px 2px 0px 2px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    border-radius: 41px;
    padding: 24px 35px;
    transition: 0.3s ease-out;
    background: linear-gradient(rgb(255, 193, 47) 0%, rgb(255, 227, 36) 50%, rgb(255, 193, 47) 100%);
    outline: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}